<%= @user.name %>

<% @posts.each do |post| %>
  <ul>
    <li><%= post.title %></li>
    <li><%= post.body %></li>
  </ul>
  <% post.comments.each do |comment| %>
    <ul>
      <li><%= comment.user.name %></li>
      <li><%= comment.body %></li>
    </ul>
  <% end %>
<% end %>
